@import "tailwindcss";

.app-container {
  box-shadow: 
    0px 1px 2px 0px #09090B0D,
    0px 0px 0px 1px #09090B0D;
  border-radius: 18px;
  min-height: 100vh;
  margin: 8px;
  overflow: hidden;  
}